@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section head
{

    @Styles.Render("~/resources/css/components")
    @RenderSection("head", false)
}


@section header
{
    <div id="navbar-uhub">
        <navbar-component></navbar-component>
    </div>
    @RenderSection("header", false)
}



@RenderBody()



@section scripts{
    @if (ViewBag.SkipMasterScriptLoading != true)
    {
        @Scripts.Render("~/resources/scripts/navBar")
    }
    @RenderSection("scripts", false)
}