@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section head
{
    <style>
        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }
    </style>

    @Styles.Render("~/resources/css/components")
    @RenderSection("head", false)
}


@section header
{
    <div id="navbar-uhub">
        <navbar-component></navbar-component>
    </div>
    @RenderSection("header", false)
}



@RenderBody()



@section scripts{
    @if (ViewBag.SkipMasterScriptLoading != true)
    {
        @Scripts.Render("~/ClientResources/Master/Components/Navbar.js")
    }
    @RenderSection("scripts", false)
}