@using UHub.CoreLib.Management;


@model UHub.Models.Security.RecaptchaLoginViewModel

<script src="https://www.google.com/recaptcha/api.js" async defer></script>


@{

    var hasRecaptcha = CoreFactory.Singleton.Properties.EnableRecaptcha;
    var publicKey = CoreFactory.Singleton.Properties.RecaptchaPublicKey;



    if (hasRecaptcha)
    {
        <div class="g-recaptcha" data-sitekey="@publicKey"></div>
    }


    if (UHub.CoreLib.Extensions.StringExtensions.IsEmpty(Model.SubmitPath))
    {
        <input type="submit" name="btn_Submit" value="@Model.SubmitValue" class="@Model.SubmitClass" />
    }
    else
    {
        <input type="submit" name="btn_Submit" value="@Model.SubmitValue" class="@Model.SubmitClass" formaction="@Model.SubmitPath" />
    }


}