@model UHub.CoreLib.Entities.Users.DTOs.User_CredentialDTO
@using UHub.CoreLib.Extensions
@{
    ViewBag.Title = "Login";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="mainNav" class="container-fullwidth">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">UHUB</a>
    </nav>
</div>

<h2>Login</h2>

@{
    Html.BeginForm();
}

<div class="container w-25">

@Html.LabelFor(x => x.Email)
@Html.TextBoxFor(x => x.Email, new { placeholder = "Email:", @class = "form-control" })
<br />
@Html.ValidationMessageFor(x => x.Email)
@{Html.ValidateFor(x => x.Email);}
<p></p>


@Html.LabelFor(x => x.Password)
@Html.PasswordFor(x => x.Password, new { placeholder = "Password:", @class = "form-control" })
<br />
@Html.ValidationMessageFor(x => x.Password)
@{Html.ValidateFor(x => x.Password);}


@{
    if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
    {
    <p></p>
    <label>@ViewBag.ErrorMsg</label>
    }
}


<p></p>
@{
    Html.RenderPartial("~/Views/Security/_RecaptchaPartial.cshtml", new UHub.Models.Security.RecaptchaLoginViewModel
    {
        SubmitValue = "Login",
        SubmitClass = "btn-outline-dark, center_LR",
    });
}

<p></p>
@Html.RouteLink("Or Create an Account", new RouteValueDictionary {
    ["controller"] = "Account",
    ["action"] = "Create"
})
<p></p>
Trouble Logging in? <br />
@Html.RouteLink("Reset your password here", new RouteValueDictionary {
["controller"] = "Account",
["action"] = "ForgotPassword"
})

</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@{
    Html.EndForm();
}